
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
templates/panier.html.twig
templates/test.html.twig
git adtemplate/autre
/src/controller/PanierControler.php
/src/controller/TestControler.php
templates/autre
###< symfony/framework-bundle ###
